.footer {

    &__main {
        margin-bottom: 73px;

        @media (max-width: $md3+px) {
            margin-bottom: 40px;
        }
    }

    &__bottom {
        background-color: $textColor;
    }

    &__bottom-body {
        display: flex;
        align-items: center;
        min-height: 42px;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-between;

        @media (max-width: 575px) {
            flex-direction: column-reverse;
        }
    }

    &__copy {
        font-size: 13px;
        line-height: 26px;
        color: #fff;
    }

    &__bottom-list {
        display: flex;
        font-size: 14px;
        line-height: 26px;
        color: #fff;
        font-weight: 300;

        @media (max-width: 575px) {
           flex-wrap: wrap;
           justify-content: center;
        }

        & a {
            color: #fff;
            text-decoration: underline;
        }

        & li {
            &:not(:last-child) {
                
                    margin-right: 8px;
                    &:after {
                        content: '|';
                        margin-left: 5px;
                    }
                

            }
        }
    }
}



.main-footer {
    display: flex;

    @media (max-width: $md3+px) {
        display: block;
    }

    &__column {
        &:nth-child(1) {
            flex: 1 1 auto;
            margin-right: 80px;
            padding-top: 7px;

            @media (max-width: $md2+px) {
                margin-right: 20px;
            }

            @media (max-width: $md3+px) {
                margin-right: 0;

                & .main-footer__column {
                    margin-bottom: 30px;
                }
            }
        }
        &:nth-child(2) {
            flex: 0 0 46.8%;
        }
    }

    &__title {
        font-family: $mainFontFamily;
        font-size: 60px;
        font-weight: 600;
        line-height: 1.3em;
        text-transform: uppercase;
    
        @media (max-width: $md3+px) {
            font-size: 40px;
        }
    }

    &__list {
        font-size: 15px;
        line-height: 1.3333em;
        margin-bottom: 36px;
        & a {
            color: $textColor;
            text-decoration: underline;

            &[href^="tel:"], &[href^="https://wa.me"] {
                text-decoration: none;
            }
        }

        & li:not(:last-child) {
            margin-bottom: 13px;
        }
    }
}

.social {
    display: flex;
    flex-wrap: wrap;

    & li {
        margin-right: 21px;
        margin-bottom: 21px;
        flex: 0 0 auto;
    }

    &__link {
        display: inline-block;
        height: 40px;
        transition: all .3s ease;

        @media (min-width: 992px) {
            &:hover {
                transform: scale(1.15);
            }
        }

        & img {
            height: 100%;
            width: auto;
        }

    }
}


.footer-form {
    display: flex;
    flex-direction: column;

    & .wpcf7-response-output {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    &__item {
        margin-bottom: 45px;
        position: relative;

        &._focus {
            & .footer-form__label {
                top: 0%;
            }
        }

        & .wpcf7-form-control-wrap {
            display: block;
        }

        & .wpcf7-not-valid-tip {
            position: absolute;
            top: 109%;
            font-size: 12px;
        }
    }

    &__label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 18px;
        line-height: 1em;
        font-family: $mainFontFamily;
        color: $textColor;
        transition: all .2s ease;
        display: inline-block;
    }

    &__input {
        height: 50px;
        display: flex;
        width: 100%;
        background: transparent;
        align-items: center;
        border-bottom: 3px solid $textColor;
        font-size: 18px;
        line-height: 1em;
        font-family: $mainFontFamily;
        border-radius: 0;
        &::placeholder {
            font-size: 18px;
            line-height: 1em;
            font-family: $mainFontFamily;
            color: $textColor;
        }
    }

    & button.btn-default {
        background-color: transparent;
        min-width: 160px;
        margin-left: auto;

        @media (min-width: 992px) {
            &:hover {
                background-color: $textColor;
            }
        }
    }
}
